<div class='wym_area_top'>
  <p>
    <%= link_to t('.add'), refinery.insert_admin_images_path({
                  :dialog => true, :width => 950, :height => 510,
                  :callback => "image_added"
                }),
                :class => "add_icon" %>
  </p>
</div>
