<div class='wym_skin_refinery page_part' id='page_image_picker'>
  <%= render :partial => '/refinery/admin/pages/tabs/images_bar', :locals => {:f => f} %>
  <%= render :partial => '/refinery/admin/pages/tabs/images_field', :locals => {:f => f} %>
</div>
