<div class='wym_skin_refinery page_part' id='page_image_picker'>
  <%= render :partial => '/admin/pages/tabs/images_bar' %>
  <%= render :partial => '/admin/pages/tabs/images_field' %>
</div>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'page-image-picker' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'page-image-picker' %>
<% end %>