#page_images {
	margin: 0px;
	padding: 0px;
	width: 280px;
}
#page_images li {
	position: relative;
	list-style: none;
	float: left;
	margin-bottom: 20px;
}
#page_images li.odd {
	margin-right: 18px;
}
#page_images {
  width: 100%;
}
#page_images li {
  margin-right: 20px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
#page_images li .image_actions {
  background: white;
  position: absolute;
  padding: 3px;
  left: 0px;
  top: 0px;
  width: 135px;
}
#page_images li .image_actions.no_captions {
  background: transparent;
}
#page_images > li .image_actions img.caption {
  position: absolute;
  right: 3px;
  top: 3px;
}
#page_images li * {
  cursor: move;
}
#page_images li .image_actions * {
  cursor: pointer;
}
#content ul.ui-sortable li {
  border: 0px none;
  background: none !important;
}
#content #page_images.ui-sortable li.placeholder {
  width: 135px;
  height: 135px;
}

a#add_image_link {
  margin-top: 0px;
  line-height: 29px;
  padding-left: 20px;
  display: inline;
  border-bottom: 0px none;
  background: url('/images/refinery/icons/add.png') no-repeat 0px 6px;
}